@import 'variables';

.card-course-item {
    margin-top: 15px;
}
.trash-icon {
    position: relative;
    margin-left: 10px;
    color : #717e8b;
}
.badge {
    position: absolute;
    top: -8%;
    left: 80%;
}